<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    routerLink=""
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home page
  </li>
  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    About page
  </li>
  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    Contact page
  </li>-->
  <li
    routerLink="countries/by-capital"
    class="list-group-item"
    routerLinkActive="active"
  >
    By capital
  </li>
  <li
    routerLink="countries/by-country"
    class="list-group-item"
    routerLinkActive="active"
  >
    país
  </li>
  <li
    routerLink="countries/by-region"
    class="list-group-item"
    routerLinkActive="active"
  >
    By region
  </li>
</ul>
